<header [ngClass]="'container header_home'">
  <span id="logo">
    <img [src]="'./assets/logo.png'" alt="logo" />
    <h1 class="logo">Jobtail</h1>
  </span>
  <div class="container header_home">
    <h5 class="header" *ngIf="auth.user$ | async as user">
      Hello, {{ user.name }}!
    </h5>
    <button type="button" class="btn btn_primary" (click)="handleLogout()">
      Logout
    </button>
  </div>
</header>

<main>
  <div class="container main_body">
    <div class="row">
      <div class="col-3">
        <div class="col bg-secondary" style="margin-right: 5%">
          <h2>Wishlist</h2>
          <button (click)="addNewJob()">Add New Job</button>
          <div class="job-card" *ngFor="let job of wishlistJobs" cdkDrag>
            {{ job.name }} - {{ job.employer }}
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="col bg-secondary" style="margin-right: 5%">
          <h2>Applied</h2>
          <div class="job-card" *ngFor="let job of appliedJobs" cdkDrag>
            {{ job.name }} - {{ job.employer }}
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="col bg-secondary" style="margin-right: 5%">
          <h2>Interview</h2>
          <div class="job-card" *ngFor="let job of interviewJobs" cdkDrag>
            {{ job.name }} - {{ job.employer }}
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="col bg-secondary">
          <h2>Declined</h2>
          <div class="job-card" *ngFor="let job of declinedJobs" cdkDrag>
            {{ job.name }} - {{ job.employer }}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
