<header [ngClass]="'container header_home'">
  <span id="logo">
    <img [src]="'./assets/logo3.png'" alt="logo" />
    <h1 class="logo">Jobtail</h1>
  </span>
  <ng-container *ngIf="isAuthenticated$ | async; else unAuthenticated"
    ><div class="container header_home">
      <button
        type="button"
        class="btn btn_primary"
        id="Login"
        (click)="handleLogin()"
      >
        Login
      </button>
      <button type="button" class="btn btn_secondary" (click)="handleSignUp()">
        Sign Up
      </button>
    </div></ng-container
  >
  <ng-template #unAuthenticated>
    <div class="container header_home">
      <button type="button" class="btn btn_secondary" (click)="handleLogout()">
        Logout
      </button>
    </div>
  </ng-template>
</header>
<main class="container">
  <div class="container">
    <h2>Stay on your applications’ tail</h2>
    <img [src]="'./assets/mac.png'" alt="job search" />
  </div>
  <div class="container">
    <button type="button" class="btn btn_secondary" (click)="handleSignUp()">
      Sign up for free
    </button>
    <p (click)="handleLogin()">Login to your account</p>
  </div>
</main>
